<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>activiti-helloWorld</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>
                %msg %n
            </pattern>
        </encoder>
    </appender>

    <logger name="o.a.e" level="OFF" />
    <logger name="org.activiti" level="OFF" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>